In [313]:
import pandas as pd
import numpy as np
import math

In [314]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

# Question 1

In [315]:
res = pd.DataFrame(df)
res

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [316]:
missing = np.where(df["FlightNumber"].isnull() == True)
missing

(array([1, 3], dtype=int64),)

In [317]:
for i in missing:
    df['FlightNumber'][i] = df['FlightNumber'][i-1]+10

C:\Users\Santosh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [318]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN       10055.0            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis       10075.0          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [319]:
df.dtypes

From_To          object
FlightNumber    float64
RecentDelays     object
Airline          object
dtype: object

In [320]:
df["FlightNumber"] = df["FlightNumber"].astype(int)

In [321]:
df.dtypes

From_To         object
FlightNumber     int32
RecentDelays    object
Airline         object
dtype: object

# Question 2

In [322]:
l=[]
r=[]
for s in df['From_To']:
    l.append(s.split(sep='_',maxsplit=1)[0])
    r.append(s.split(sep='_',maxsplit=1)[1])

In [323]:
l

['LoNDon', 'MAdrid', 'londON', 'Budapest', 'Brussels']

In [324]:
r

['paris', 'miLAN', 'StockhOlm', 'PaRis', 'londOn']

In [325]:
df['From'] = l
df['To']= r

In [326]:
df

,From_To,FlightNumber,RecentDelays,Airline,From,To
0,LoNDon_paris,10045,"[23, 47]",KLM(!),LoNDon,paris
1,MAdrid_miLAN,10055,[],<Air France> (12),MAdrid,miLAN
2,londON_StockhOlm,10065,"[24, 43, 87]",(British Airways. ),londON,StockhOlm
3,Budapest_PaRis,10075,[13],12. Air France,Budapest,PaRis
4,Brussels_londOn,10085,"[67, 32]","""Swiss Air""",Brussels,londOn

# Question 3

In [327]:
df['From'] = df['From'].str.capitalize()
df['To'] = df['To'].str.capitalize()
df

,From_To,FlightNumber,RecentDelays,Airline,From,To
0,LoNDon_paris,10045,"[23, 47]",KLM(!),London,Paris
1,MAdrid_miLAN,10055,[],<Air France> (12),Madrid,Milan
2,londON_StockhOlm,10065,"[24, 43, 87]",(British Airways. ),London,Stockholm
3,Budapest_PaRis,10075,[13],12. Air France,Budapest,Paris
4,Brussels_londOn,10085,"[67, 32]","""Swiss Air""",Brussels,London

# Question 4

In [328]:
df=df.drop("From_To",axis=1)

In [329]:
#From and TO columns are attached in the Question2 itself

# Question 5

In [330]:
delays = pd.DataFrame(df['RecentDelays'])

In [335]:
o = []
for i in delays['RecentDelays']:
    o.append(len(i))

In [332]:
o

[2, 0, 3, 1, 2]

In [334]:
 max(o)

TypeError: 'int' object is not callable